{% extends "registration/base_loguin.html" %}

{% block login %}

              <div class="collapse navbar-collapse" id="custom-collapse">
          
                <ul class="nav navbar-nav navbar-right">

                  {% if user.is_authenticated %}
                    <li class="dropdown">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Grupos &nbsp</a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a class="flaticon-newspapers2" href="{% url 'groups_create' %}"> &nbsp; Crear Grupo</a></li>
                              <li><a class="flaticon-speechbubble46" href="{% url 'groups_list' %}"> &nbsp; Mis Grupos</a></li>
                            </ul>
                        
                      </li>  
                    </li>
                  {% endif %}

                   {% if user.is_authenticated %}
                    <li class="dropdown">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Crear publicacion &nbsp</a>
                            <ul class="dropdown-menu" role="menu">
                              <li><a class="flaticon-newspapers2" href="{% url 'noticia_create' %}"> &nbsp; Noticia</a></li> 
                              <li><a class="flaticon-global47" href="{% url 'foro_general' %}"> &nbsp; Foro UCSE</a></li>
                            </ul>
                        
                      </li>  
                    </li>
                  {% endif %}
    
                  <li class="dropdown active">
                    <li class="dropdown">
                      {% if user.is_authenticated %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido, {{ user.get_username }} &nbsp</a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a class="flaticon-user163" href="#"> &nbsp; Mi Perfil</a></li>
                            <li><a class="flaticon-settings56" href="{% url 'configuracionCuenta'%}"> &nbsp; Configuracion de la cuenta</a></li>
                            <li><a class="flaticon-outbox4" href="{% url 'logout'%}?next={{request.path}}"> &nbsp; Cerrar Sesion</a></li>
                          </ul>
                      {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ingresar</a>
                          <ul class="dropdown-menu" role="menu"> 
                            <li><a class="flaticon-user163" href="{% url 'login' %}"> &nbsp; Iniciar sesion</a></li>
                            <li><a class="flaticon-symbol14" href="{% url 'registracion' %}"> &nbsp; Registrarse</a></li>
                          </ul>
                      {% endif %}
                    </li>  
                  </li> 
                </ul>
              </div>

              {% endblock %}

{% block imagen_presentacion %}
{% endblock imagen_presentacion %}


{% block content %}

  <div class="text-center">
      <h2 class="section-title">Menu de Usuario</h2>
      <p><h3>A traves de este menu, podras acceder a todas las "opciones de Cuenta"  que ofrece Cursivia a sus usuarios.</h3></p>

  </div>

   <section>
      <div class="container">
          <div class="row text-center col-sm-3">
          </div>
          <div class="row text-center col-sm-9">
              <a href="{% url 'editar_perfil_usuario' pk=user.id %}">
                <div class="col-md-5 col-sm-6 sbox-gutter">
                    <div class="service-box">
                        <i class="flaticon-male26"></i>
                        <h3>Perfil</h3>
                        <p>Accede aquí para modificar algun aspecto de tu perfil </p>

                    </div><!-- /.service-box -->
                </div><!-- /.col-sm-4 -->
              </a>

              <div class="col-md-5 col-sm-6 sbox-gutter">
                  <a href="{% url 'ver_mis_foros' pk=user.id%}">
                    <div class="service-box">
                      <i class="flaticon-newspapers2"></i>
                      <h3>Publicaciones en Foros</h3>
                      <p>Accede aqui para visualizar, modificar o eliminar tus foros genrados en materias</p>
                    </div><!-- /.service-box -->
                  </a>
              </div><!-- /.col-sm-4 -->
          </div>

          <div class="row text-center col-sm-3">
          </div>

          <div class="row text-center col-sm-9">
              <div class="col-md-5 col-sm-6 sbox-gutter">
                  <a href="{% url 'index' %}"></a>
                  <div class="service-box">
                      <i class="flaticon-book17"></i>
                      <h3>Publicaciones en Grupos</h3>
                      <p>Accede aquí para visualizar todas las pubñicaciones que hiciste en grupos</p>
                  </div><!-- /.service-box -->
              </div><!-- /.col-sm-4 -->

              <div class="col-md-5 col-sm-6 sbox-gutter">
                <a href="{% url 'index' %}"></a>
                <div class="service-box">
                    <i class="flaticon-speechbubble46"></i>
                    <h3>Ayuda &amp; contacto</h3>
                      <p>Accede aqui si tienes inteciones de comunicarte con nosotros</p>
                </div><!-- /.service-box -->
              </div><!-- /.col-sm-4 -->
          </div><!-- /.row -->
      </div><!-- /.container -->
  </section>

{% endblock content %}



