{% extends "base.html" %}


  {% load static %} 
  {% block imagen_presentacion %}
  {% endblock %}

  {% block sidebar %}
    <div class="sidebar-wrapper">
        <aside class="widget widget_categories">
          <h2 class="widget-title">Foro Carreras</h2>  
            <ul>
              {% for carrera,materia in lista_cantMaterias %}
                  <li><a href="{% url 'foro_carrera' carrera.id %}"><i class="fa fa-angle-right"></i> {{ carrera }} <span class="badge"> {{ materia }}</span></a></li>
              {% endfor %}      
            </ul>
        </aside>

    </div>
  {% endblock sidebar %} 


  {% block content %}
    {%if user.is_superuser%}
      <div id="id_invitaciones">
        <h1 style="color: #ff2a40;"> Denuncias de Publicaciones</h1>
        {% for publicacion in lista_publicaciones_denunciadas %}
            <div class="cta-v2">
              <div>
                <h2> Se a denunciado la publicacion del usuario {{publicacion.usuario.username}}</h2>
                <p> Acceda al link que se encuentra abajo para visualizar el contenido denunciado </p>
                <p></p>
              </div>
                <footer class="entry-footer clearfix">
                  <div id="divIdBrra">
                    <ul class="entry-meta pull-right">
                        <li><a onclick="aceptar_denuncia({{publicacion.id}})" class="flaticon-check64"><span class="like"> &nbsp; Aceptar Denuncua</span></a></li>
                        <li><span class="share"><a onclick="rechazar_denuncia({{publicacion.id}})" class="flaticon-cancel22"> &nbsp; Rechazar Denuncua </a></span></li>

                        <li><span class="post-comments"><a href="{{publicacion.get_absolute_url}}" "><i class="fa fa-delete"></i> Contenido denunciado</a></span></li>
                    </ul>
                  </div>
                </footer>
            </div><!-- /.cta-v2 -->
            <p></p>
          {% endfor %}
          {% if lista_invitacion.count == 0 %}
          <p> No tenes denuncias, nadie te  quiere.</p>
          {% endif%}
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
      <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
       <script>
          function aceptar_denuncia(idP){
              $.ajax({
                type: 'POST',
                url: '/home/noticia/confirmarDenuncia/',
                data: {idP: idP},
                success: function (data) {
                  $("#id_invitaciones").load(" #id_invitaciones")
                },
                error: function(data) {
                }
              });
            };
      </script>
      <script>
          function rechazar_denuncia(idP){
              $.ajax({
                type: 'POST',
                url: '/home/noticia/rechazarDenuncia/',
                data: {idP: idP},
                success: function (data) {
                  $("#id_invitaciones").load(" #id_invitaciones")
                },
                error: function(data) {
                }
              });
            };
      </script>
    {% else %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <strong>Alerta!</strong>  No tenes los premisos neceariospara la actividad de moderador.
    </div>
     
    {% endif %}

  {% endblock %}