{% extends "base_generic.html" %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<p></p>

<div class="p-3 mb-2 bg-dark text-white">

  <h1 class="display-1">MiUni</h1>

  <p>Welcome to <em>miUni</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

  <h2>Dynamic content</h2>

  <p>The web has the following record counts:</p>
    <ul>
      <li><strong>Publicaciones:</strong> {{ num_publicaciones }}</li>
      <li><strong>Genero:</strong> {{ num_genre }}</li>
      <li><strong>Publicaciones available:</strong> {{ num_publicaciones_available }}</li>
    </ul>

  <p></p>

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    You have visited this page  <strong>{{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>


{% endblock %}