<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    {% block title %}<title>miUni</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

     <!--styles-->

    <style type="text/css">
        .body {
             background-color: #FFFAAA;
             -webkit-background-size: cover;
             -moz-background-size: cover;
             -o-background-size: cover;
             background-size: cover;
        }

        .centrar {
            text-align: center;
        }

	</style>


    {% block extrahead %}
    {% endblock %}

</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{% static 'image/image1.jpg' %}" style="width:400;">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'image/image2.jpg' %}" style="width:400;">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{% static 'image/image3.jpg' %}"  style="width:400;">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="centrar">
        </br>
        <h3>Recuperacion de contraseña por email</h3>
        </br>
        <form action="" method="post">{% csrf_token %}
            {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <p>{{ form.email }}</p>

            <div>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width:210px;">Ingresar</button>
                <input type="hidden" class="btn btn-default btn-lg" value="Reset password" />
            </div>
        </form>
        <p>¿Nuevo en la página? <strong><a class="text-success" href="{% url 'new-user' %}">Unite!</a></strong></p>

    </div>

    <div class="fixed-top">
        <a href="{% url 'login' %}" class="btn btn-dark" role="button" aria-pressed="true"></span>Volver a Login</a>
        <p> </p>
    </div>
    <script>
        $( document ).ready(function() {
            document.getElementById('id_email').placeholder="Direccion de email";
        });
    </script>
</body>
