{% extends "base.html" %}


{% block sidebar %}
  <div class="sidebar-wrapper">

  <aside class="widget widget_categories">
    <h2 class="widget-title">Foro Carreras</h2>  
    <ul>

    {% for carrera,materia in view.menuCarreras %}
        <li><a href="{% url 'foro_carrera' carrera.id %}"><i class="fa fa-angle-right"></i> {{ carrera }} <span class="badge"> {{ materia }} </span></a></li>
    {% endfor %}     
    </ul>
  </aside>

  </div>
{% endblock sidebar %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <h2 class="entry-title">{{ object.descripcion }} </h2>
        <div class="mt-30"></div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Tema</th>
                <th>Usuario</th> 
                <th>Comentarios</th>
                <th>Fecha</th>
            </tr>
            </thead>
            <tbody>

            {% for publicacion in view.publicaciones %}

            <tr>
                <th scope="row"> <h3><a href="{{ publicacion.get_absolute_url }}">{{ publicacion.titulo }}</a></h3></th>
                <td><span class="post-author"><a href="#"><i class="fa fa-user">                
                </i> {{ publicacion.usuario.username }}</a></span></td>
                <td style="text-align: center">5</td>  
                <td>{{ publicacion.fecha_alta }}</td> 
            </tr>
            
            {% endfor %} 

            </tbody>
        </table>
    </div>
</div><!-- /.row --> 

<div class="blog-pagination clearfix">
    <ul class="pagination"> 
        {% if publicacion.has_previous %}
             <li><a href="?page=1">&laquo; Primero</a></li>
             <li><a href="?page={{ publicacion.previous_page_number }}">Anterior</a></li>
        {% endif %}
        {% if publicacion.has_next %}
                 <li><a href="?page={{ publicacion.next_page_number }}">Siguiente</a></li>
                 <li><a href="?page={{ publicacion.paginator.num_pages }}">Ultimo &raquo;</a></li>
            {% endif %} 
    </ul>
        <span class="page-count pull-right">
            Página {{ publicacion.number }} de {{ publicacion.paginator.num_pages }}.
        </span>

</div>




{% endblock content %}






