{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}

	<div class="form-group ">   
			<h1>Edicion de noticia</h1>
			<p></p>
			<div> 
				<div class="form-group">
					<label class="sr-only" for="titulo">Titulo de la noticia</label>
					<input name="titulo" class="form-control" id="id_titulo" placeholder="El Titulo de la Noticia" type="text" value="{{form.titulo.value}}">
				</div>  

				<div class="form-group">
					<label class="sr-only" for="cuerpo">Cuerpo</label>
					<textarea name="cuerpo" class="form-control" id="id_cuerpo" placeholder="El cuerpo de la noticia" type="text" rows="7">{{form.cuerpo.value}}</textarea>
				</div>
			</div>
		    <table>
		    	{{ form.estado_publicacion }}
		    </table>
	</div>  
	<div align="center" margin-top= "5px">
	{% if messages %}
	    <ul class="messages">
	      {% for message in messages %}
	        <li class="{{ message.tags }}">{{ message }}</li>
	      {% endfor %}
	    </ul>
	{% endif %}
	</div>
	<div align="center">
	  <button class="btn btn-primary" type="submit" name="action" value="registracion" style="margin-bottom: 50px;">Guardar Noticia
	    <i class="mdi-content-send right"></i>
	  </button> 
	</div>
</form>
{% endblock %}