
{% extends "base.html" %}

{% load static %}
<head>
  <meta property="og:url"           content= "{{ request.build_absolute_uri }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Cursivia" />
  <meta property="og:description"   content="Espacio publicitario" /> 
</head>
<body>
  {% block sidebar %}
  <div class="sidebar-wrapper">

  <aside class="widget widget_categories">
    <h2 class="widget-title">Foro Carreras</h2>  
    <ul>

    {% for carrera,materia in view.menuCarreras %}
        <li><a href= "{% url 'foro_carrera' carrera.id %}"><i class="fa fa-angle-right"></i> {{ carrera }} <span class="badge"> {{ materia }} </span></a></li>
    {% endfor %}     
    </ul>
  </aside>

  </div>
{% endblock sidebar %}

{% block content %}


  <article class="post-wrapper">

    <header class="featured-wrapper">
        <img src="{{object.image.url}}" class="img-responsive " alt="">
    </header><!-- /.featured-wrapper -->
    
    <div class="blog-content">
        <div class="entry-header">
           {% if user.id == object.usuario.id %}
              <div text-align="rigth">
                  <ul class="entry-meta clearfix navbar-right">
                      <li><a href="{{ object.get_aboslute_url_modificar }}"><i class="flaticon-pencil17"></i></a></li> 
                      <li><a data-toggle="modal" data-target="#ModalConfirmarEliminacion"><i class="flaticon-garbage2"></i></a></li>
                  </ul>  
              </div>  
            {% endif %}

            <!-- /.modal -->
            <div class="modal fade" id="ModalConfirmarEliminacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title" id="exampleModalLabel">Está seguro que desea eliminar la noticia?</h3>
                  </div>
                  <div class="modal-body">
                    Una vez eliminada, puede recuperar su Noticia a travez de la configuracion de su cuenta
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <a role="button" class="btn btn-success" href="{{ object.cambiar_estado_eliminado }}">Eliminar Noticia</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.modal -->

            <h2 class="entry-title"> {{ object.titulo }} </h2>
            <ul class="entry-meta clearfix">
                <li><span class="post-author"><a href="{{object.get_aboslute_url_usuario_autor}}"><i class="fa fa-user"></i> {{ object.usuario.username }}</a></span></li>
                <li><span class="post-date"><a href="#"><i class="fa fa-calendar"></i> {{object.fecha_alta}}</a></span></li>
                <li><span class="post-comment"><a href="#"><i class="fa fa-tags"></i> Lifestyle</a></span></li>
            </ul>
        </div><!-- /.entry-header -->

        <div class="entry-content">
          {{ object.cuerpo | linebreaks }}
        </div><!-- /.entry-content -->
    </div><!-- /.blog-content -->

    <footer class="entry-footer clearfix">
      <div id="divIdBrra">
        <ul class="entry-meta pull-right">
            {% if user.id in view.get_megusta %}
              <li><a onclick="agregar_megusta()"><span class="like"><i class="fa fa-thumbs-o-up"></i> Ya no me Gusta</span></a></li>  
            {% else %}
              <li><a onclick="agregar_megusta()"><span class="like"><i class="fa fa-thumbs-o-up"></i> Me Gusta</span></a></li> 
            {% endif %}
            <li><span class="share"><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&title={{object.titulo}}"><i class="fa fa-share"></i> Share </a></span></li>
            <li><span class="post-comments"><a data-toggle="modal" data-target="#ModalConfirmarDenuncia"><i class="fa fa-delete"></i> Denunciar</a></span></li>
        </ul>
        <ul class="entry-meta pull-left">
          <li style="color: #ff2a40;"><span class="post-comments"><strong><i class="fa fa-comments"></i> {{view.get_comentarios.count}}</strong></span></li>
            <li style="color: #ff2a40;"><span class="like"><strong><i class="fa fa-thumbs-o-up"></i> {{object.aprovacion}}</strong></span></li>
        </ul>
      </div>

      <!--
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1&appId=205996212799310&autoLogAppEvents=1';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        
        <div class="fb-share-button" 
          data-href={{ request.build_absolute_uri }} 
          data-layout="button_count">
        </div>
      -->
    </footer>


   <!-- /.modal -->
   
      <div class="modal fade" id="ModalConfirmarDenuncia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3 class="modal-title" id="exampleModalLabel">Está seguro que desea denunciar la noticia?</h3>
            </div>
            <div class="modal-body">
                <input name="idPublicacion" class="form-control" id="idPublicacion" type="hidden" value="{{object.id}}">
                <textarea name="comentarioDenuncia" class="form-control" id="id_comentarioDenuncia" placeholder="Ingrese el motivo por el cual esta denunciando esta noticia" type="text" rows="4"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="submit" name="action" class="btn btn-success" data-dismiss="modal" onclick="denuncia_noticia()">Denunciar Noticia</a>
            </div>
          </div>
        </div>
      </div>
    <!-- /.modal -->


  </article><!-- /.post-wrapper -->

  <nav>
    <ul class="pager clearfix">
      <li><a href="#"><i class="fa fa-long-arrow-left"></i> Noticia anterior </a></li>
      <li><a href="#">Noticia siguiente<i class="fa fa-long-arrow-right"></i></a></li>
    </ul>
  </nav>

  <div id="divComentario" class="comments-wrapper mt-80">
    <h3>Comentarios</h3>

      <ul class="media-list comment-list mt-30">
          {% for comentario in view.get_comentarios %}
          <!-- Comment Item start-->
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="{% static 'assets/images/blog/avatar.jpg ' %}" alt="image">
                    </a>
                </div>
            
                <div class="media-body">
                    <div class="comment-info">
                        <div class="comment-author">
                            <a href="{{comentario.get_aboslute_url_usuario_autor}}">{{ comentario.usuario }}</a>
                            {% if user.id == comentario.usuario.id %}
                              <button id="button_eliminar" type="button" class="close" value="{{comentario.id}}" onclick="eliminar_comentario(this)">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            {% endif %}
                        </div>
                        {{ comentario.fecha_alta }}
                        <a href="#"><i class="fa fa-comment-o"></i>Reply</a>
                    </div>

                    <p> {{ comentario.comentario }}</p>

                </div>
            </li>
          {% endfor %}
        </ul>
      </div>

      <h1>Deja un comentario</h1>
      <p></p> 
        <div class="form-group">
          <input name="id" class="form-control" id="id" type="hidden" value="{{object.id}}"> {{form.id}}

          <label class="sr-only" for="comentario">Comentario</label>
          <textarea name="comentario" class="form-control" id="id_comentario" placeholder="Ingrese el comentario" type="text" rows="4">{{form.comentario}}</textarea>
        </div>
        <div align="center">
          <button class="btn btn-primary" type="submit" name="action" style="margin-bottom: 50px;" onclick="comentario_noticia()">Crear comentario
          <i class="mdi-content-send right"></i>
          </button> 
       </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script>
  function comentario_noticia(){
      var comentario = $("#id_comentario").val();
      var idNoticia = $("#id").val();

      $.ajax({
      type: 'POST',
      url: 'comentario_noticia/',
      data: {id: idNoticia, comentario: comentario},
      success: function (data) {
        $("#divComentario").load(" #divComentario");
        $("#id_comentario").val("");
        $("#divIdBrra").load(" #divIdBrra");
      },
      error: function(data) {
      }
    });
  };

function denuncia_noticia(){
      var comentario = $("#id_comentarioDenuncia").val();
      var idNoticia = $("#idPublicacion").val();
      var tipo = "publicacion"

      $.ajax({
      type: 'POST',
      url: 'denunciar/',
      data: {id: idNoticia, comentario: comentario, tipo_denuncia: tipo},
      success: function (data) {
        $("#divComentario").load(" #divComentario");
        $("#id_comentarioDenuncia").val("");

      },
      error: function(data) {
      }
    });
  };

function eliminar_comentario(boton){
      var idComentario = boton.value;

      $.ajax({
      type: 'POST',
      url: 'comentario_noticia/delete',
      data: {id: idComentario},
      success: function (data) {
        $("#divComentario").load(" #divComentario");
        $("#divIdBrra").load(" #divIdBrra");
      },
      error: function(data) {
      }
    });
  };

function agregar_megusta(){
      var idNoticia = $("#idPublicacion").val();

      $.ajax({
      type: 'POST',
      url: 'me_gusta/',
      data: {id: idNoticia},
      success: function (data) {
        $("#divComentario").load(" #divComentario");
        $("#divIdBrra").load(" #divIdBrra");
      },
      error: function(data) {
      }
    });
  };

$.ajaxSetup({ 
    beforeSend: function(xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                        }
                    }
                }
                return cookieValue;
            }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    } 
});

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}


$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});




</script>

{% endblock content %}





