{% extends "base.html" %}


{% block sidebar %}
      <div class="sidebar-wrapper">

      <aside class="widget widget_categories">
        <h2 class="widget-title">Foro Carreras</h2>  
        <ul>

        {% for carrera,materia in view.menuCarreras %}
            <li><a href="{% url 'foro_carrera' carrera.id %}"><i class="fa fa-angle-right"></i> {{ carrera }} <span class="badge"> {{ materia }} </span></a></li>
        {% endfor %}     
        </ul>
      </aside>

      </div>
{% endblock sidebar %} 


{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}

	<div class="form-group ">   
			<h1>Edicion</h1>
			<p></p>
			<div> 
				<div class="form-group">
					<label class="sr-only" for="titulo">Titulo</label>
					<input name="titulo" class="form-control" id="id_titulo" placeholder="Ingrese el Titulo" type="text" value="{{form.titulo.value}}">
				</div>  

				<div class="form-group">
					<label class="sr-only" for="cuerpo">Cuerpo</label>
					<textarea name="cuerpo" class="form-control" id="id_cuerpo" placeholder="Ingrese el contenido" type="text" rows="7">{{form.cuerpo.value}}</textarea>
				</div>
				<p><input id="id_image" type="file" class="" name="image"></p>
			</div>
		    <table>
		    	{{ form.estado_publicacion }}
		    </table>
	</div>  
	<div align="center" margin-top= "5px">
	{% if messages %}
	    <ul class="messages">
	      {% for message in messages %}
	        <li class="{{ message.tags }}">{{ message }}</li>
	      {% endfor %}
	    </ul>
	{% endif %}
	</div>
	<div align="center">
	  <button class="btn btn-primary" type="submit" name="action" value="registracion" style="margin-bottom: 50px;">Guardar
	    <i class="mdi-content-send right"></i>
	  </button> 
	</div>
</form>

{% endblock content %}
